# Hipótesis: Los surfistas más experimentados sufren menos ataques.

**Pandas : limpiar df**

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv("../Inputs/attacks.csv", encoding="latin")
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,25713,25714,25715,25716,25717,25718,25719,25720,25721,25722
Case Number,2018.06.25,2018.06.18,2018.06.09,2018.06.08,2018.06.04,2018.06.03.b,2018.06.03.a,2018.05.27,2018.05.26.b,2018.05.26.a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,xx
Date,25-Jun-2018,18-Jun-2018,09-Jun-2018,08-Jun-2018,04-Jun-2018,03-Jun-2018,03-Jun-2018,27-May-2018,26-May-2018,26-May-2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Type,Boating,Unprovoked,Invalid,Unprovoked,Provoked,Unprovoked,Unprovoked,Unprovoked,Unprovoked,Unprovoked,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,USA,USA,USA,AUSTRALIA,MEXICO,AUSTRALIA,BRAZIL,USA,USA,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Area,California,Georgia,Hawaii,New South Wales,Colima,New South Wales,Pernambuco,Florida,Florida,Florida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,"Oceanside, San Diego County","St. Simon Island, Glynn County","Habush, Oahu",Arrawarra Headland,La Ticla,"Flat Rock, Ballina","Piedade Beach, Recife","Lighhouse Point Park, Ponce Inlet, Volusia County","Cocoa Beach, Brevard County","Daytona Beach, Volusia County",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Activity,Paddling,Standing,Surfing,Surfing,Free diving,Kite surfing,Swimming,Fishing,Walking,Standing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,Julie Wolfe,Adyson McNeely,John Denges,male,Gustavo Ramos,Chris,Jose Ernesto da Silva,male,Cody High,male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,F,F,M,M,M,M,M,M,M,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,57,11,48,NaN,NaN,NaN,18,52,15,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Injury,"No injury to occupant, outrigger canoe and pad...",Minor injury to left thigh,Injury to left lower leg from surfboard skeg,Minor injury to lower leg,Lacerations to leg & hand shark PROVOKED INCIDENT,"No injury, board bitten",FATAL,Minor injury to foot. PROVOKED INCIDENT,Lower left leg bitten,Minor injury to foot,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fatal (Y/N),N,N,N,N,N,N,Y,N,N,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time,18h00,14h00 -15h00,07h45,NaN,NaN,NaN,Late afternoon,NaN,17h00,14h00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Species,White shark,NaN,NaN,2 m shark,"Tiger shark, 3m",NaN,Tiger shark,"Lemon shark, 3'","Bull shark, 6'",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investigator or Source,"R. Collier, GSAF","K.McMurray, TrackingSharks.com","K.McMurray, TrackingSharks.com","B. Myatt, GSAF",A .Kipper,"Daily Telegraph, 6/4/2018","Diario de Pernambuco, 6/4/2018","K. McMurray, TrackingSharks.com","K.McMurray, TrackingSharks.com","K. McMurray, Tracking Sharks.com",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pdf,2018.06.25-Wolfe.pdf,2018.06.18-McNeely.pdf,2018.06.09-Denges.pdf,2018.06.08-Arrawarra.pdf,2018.06.04-Ramos.pdf,2018.06.03.b-FlatRock.pdf,2018.06.03.a-daSilva.pdf,2018.05.27-Ponce.pdf,2018.05.26.b-High.pdf,2018.05.26.a-DaytonaBeach.pdf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href formula,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.1,2018.06.25,2018.06.18,2018.06.09,2018.06.08,2018.06.04,2018.06.03.b,2018.06.03.a,2018.05.27,2018.05.26.b,2018.05.26.a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.2,2018.06.25,2018.06.18,2018.06.09,2018.06.08,2018.06.04,2018.06.03.b,2018.06.03.a,2018.05.27,2018.05.26.b,2018.05.26.a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original order,6303,6302,6301,6300,6299,6298,6297,6296,6295,6294,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(25723, 24)

In [5]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
df["Case Number"]

0        2018.06.25
1        2018.06.18
2        2018.06.09
3        2018.06.08
4        2018.06.04
            ...
25718           NaN
25719           NaN
25720           NaN
25721           NaN
25722            xx
Name: Case Number, Length: 25723, dtype: object

In [7]:
#Columnas que me podrían interesar
working_columns = df[['Date', 'Year','Type', 'Country', 'Area','Activity','Age', 'Injury', 'Fatal (Y/N)', 'Time','Species ']]
working_columns.head()

,Date,Year,Type,Country,Area,Activity,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"

In [8]:
#¿Hay suficientes datos de surfistas?
df["Activity"].value_counts()

Surfing                                                                                                      971
Swimming                                                                                                     869
Fishing                                                                                                      431
Spearfishing                                                                                                 333
Bathing                                                                                                      162
                                                                                                            ...
Crabbing (spearing crabs)                                                                                      1
Swimming, poaching abalone                                                                                     1
Fishing / diving                                                                                               1
Collecting fish in military trap when bitten by captured shark that had been shot by soldiers with Garten      1
The USS Wahoo torpedoes & sank the Japanese troop transport Buyo Maru                                          1
Name: Activity, Length: 1532, dtype: int64

In [9]:
#Redefinimos data frame con solo datos de surfistas
df = working_columns[(working_columns ['Activity'] == 'Surfing')]
df["Activity"].value_counts()

Surfing    971
Name: Activity, dtype: int64

In [10]:
#No existen datos duplicados
df.duplicated().sum()

0

In [11]:
#Localizar valores nulos
df.isnull().sum()

Date             0
Year             0
Type             1
Country          1
Area             5
Activity         0
Age            193
Injury           6
Fatal (Y/N)     38
Time           222
Species        380
dtype: int64

In [12]:
df.shape

(971, 11)

In [13]:
#Eliminar valores nulos
df = df[["Year","Type","Country","Activity","Age","Injury","Fatal (Y/N)"]].dropna()
df.shape

(745, 7)

In [14]:
df.isnull().sum()

Year           0
Type           0
Country        0
Activity       0
Age            0
Injury         0
Fatal (Y/N)    0
dtype: int64

In [15]:
#Agrupar edades en grupos
df.groupby(["Age","Fatal (Y/N)"]).count()

                   Year  Type  Country  Activity  Injury
Age   Fatal (Y/N)
 28   N               1     1        1         1       1
10    N               3     3        3         3       3
11    N               2     2        2         2       2
12    N              11    11       11        11      11
13    N              13    13       13        13      13
...                 ...   ...      ...       ...     ...
68    N               1     1        1         1       1
9     N               3     3        3         3       3
Teen  N               3     3        3         3       3
teen  N               3     3        3         3       3
young Y               1     1        1         1       1

[86 rows x 5 columns]

In [16]:
pd.set_option('display.max_rows', None)

In [17]:
df.Age.value_counts()

17          55
18          42
16          41
15          41
20          35
19          35
21          35
22          30
24          27
25          26
28          22
14          22
27          19
29          19
26          19
23          17
35          16
31          15
13          14
37          14
32          13
40          13
43          12
12          11
30          11
34          10
42          10
52           9
41           9
36           7
54           7
44           6
38           6
50           5
51           5
45           5
47           5
48           5
46           4
49           4
33           4
39           4
Teen         3
teen         3
10           3
9            3
58           2
11           2
55           2
61           2
60           2
30s          2
68           1
30 or 36     1
33 or 37     1
59           1
65           1
53           1
 28          1
57           1
6            1
50s          1
63           1
young        1
Name: Age, dtype: int64

In [18]:
df.Age.min()

' 28'

In [19]:
df.Age.max()

'young'

In [20]:
df.Age.describe()

count     745
unique     64
top        17
freq       55
Name: Age, dtype: object

In [21]:
df.groupby(['Age']).max()

,Year,Type,Country,Activity,Injury,Fatal (Y/N)
Age,,,,,,
28,1994.0,Unprovoked,USA,Surfing,Right foot lacerated,N
10,2013.0,Unprovoked,USA,Surfing,Right leg bitten,N
11,2016.0,Unprovoked,USA,Surfing,Punctures & lacerations to right calf & calf,N
12,2014.0,Unprovoked,USA,Surfing,Right thigh & ankle injured,N
13,2017.0,Unprovoked,USA,Surfing,Severe lacerations to right leg,Y
14,2017.0,Unprovoked,USA,Surfing,Wetsuit lacerated,N
15,2016.0,Unprovoked,USA,Surfing,Thigh lacerated,Y
16,2016.0,Unprovoked,USA,Surfing,Severe lacerations to right hand,Y
17,2017.0,Unprovoked,USA,Surfing,"Thigh, lower back and surfboard bitten",Y
18,2018.0,Unprovoked,USA,Surfing,Thigh & calf bitten,Y
19,2018.0,Unprovoked,USA,Surfing,Superficial injuries to left foot & ankle,Y
20,2018.0,Unprovoked,USA,Surfing,Right thigh bitten,Y
21,2016.0,Unprovoked,USA,Surfing,Small cuts on big & pinky toes of left foot,Y
22,2016.0,Unprovoked,USA,Surfing,Severe injury to thigh,Y
23,2015.0,Unprovoked,USA,Surfing,Small lacerations to foot,N
24,2016.0,Unprovoked,USA,Surfing,Upper left arm lacerated,Y
25,2017.0,Unprovoked,USA,Surfing,Wrist bitten,Y
26,2015.0,Unprovoked,USA,Surfing,Toes lacerated,Y
27,2011.0,Unprovoked,USA,Surfing,Thigh lacerated,Y
28,2017.0,Unprovoked,VENEZUELA,Surfing,Right hand lacerated,Y
29,2016.0,Unprovoked,USA,Surfing,Wounds to upper thigh and lower leg,Y
30,2013.0,Unprovoked,USA,Surfing,minor injury to foot,Y
30 or 36,2002.0,Unprovoked,AUSTRALIA,Surfing,Heel / foot bitten,N
30s,2012.0,Unprovoked,USA,Surfing,Right calf bitten,N
31,2017.0,Unprovoked,USA,Surfing,Severe lacerations to right buttock,Y
32,2012.0,Unprovoked,USA,Surfing,Thigh bitten,N
33,2017.0,Unprovoked,USA,Surfing,Severe injury to hand,N
33 or 37,2001.0,Unprovoked,AUSTRALIA,Surfing,"Chest lacerated, surfboard bitten",N
34,2015.0,Unprovoked,USA,Surfing,Torso bitten,Y
35,2017.0,Unprovoked,USA,Surfing,Severe abrasion to left lateral calf,Y
36,2016.0,Unprovoked,USA,Surfing,Right leg bitten,N
37,2018.0,Unprovoked,USA,Surfing,Torso bitten,N
38,2015.0,Unprovoked,USA,Surfing,Severe laceration to left buttock & thigh,N
39,2012.0,Unprovoked,USA,Surfing,Right hand and foot severed,Y
40,2015.0,Unprovoked,USA,Surfing,Severe laceration to right knee,N
41,2018.0,Unprovoked,USA,Surfing,Puncture to left hand,Y
42,2017.0,Unprovoked,USA,Surfing,Shark leapt onto surfboard; surfer uninjured,N
43,2016.0,Unprovoked,USA,Surfing,Right thigh & buttock bitten,N
44,2014.0,Unprovoked,USA,Surfing,Small puncture wounds to the heel of left foot,N
45,2015.0,Unprovoked,USA,Surfing,Single laceration on ankle & board bitten,N
46,2010.0,Unprovoked,USA,Surfing,"Thigh, hip & buttock bitten",N
47,2015.0,Unprovoked,USA,Surfing,Right hand severely lacerated,N
48,2018.0,Unprovoked,USA,Surfing,Severe injury to left forearm,N
49,2011.0,Unprovoked,USA,Surfing,"No Injury, shark hit board",Y
50,2014.0,Unprovoked,USA,Surfing,Left hand and wrist bitten,N
50s,2014.0,Unprovoked,USA,Surfing,Foot bitten,N
51,2014.0,Unprovoked,USA,Surfing,Shark became tangled in his surfboard leash. T...,N
52,2015.0,Unprovoked,USA,Surfing,Shark bumped right ankle,N
53,2012.0,Unprovoked,USA,Surfing,"No injury, surfboard damaged",N
54,2017.0,Unprovoked,USA,Surfing,Severe lacerations to left thigh & knee,N
55,2010.0,Unprovoked,USA,Surfing,Minor lacerations to right foot,N
57,2004.0,Unprovoked,USA,Surfing,FATAL Severe wound to right thigh & calf,Y
58,2017.0,Unprovoked,USA,Surfing,Right thigh bitten,N
59,2004.0,Unprovoked,AUSTRALIA,Surfing,Right foot lacerated,N
6,1998.0,Unprovoked,USA,Surfing,Puncture wounds to leg,N
60,2018.0,Unprovoked,USA,Surfing,"No injury, knocked off board by shark",N
61,2012.0,Unprovoked,USA,Surfing,"Right foot: Toes and back of foot, minor injury",N
63,2011.0,Unprovoked,AUSTRALIA,Surfing,Torn shoulder ligament as result of collision ...,N
65,2016.0,Unprovoked,AUSTRALIA,Surfing,Injuries to foot & arm,N
68,2010.0,Unprovoked,USA,Surfing,"No injury, surfboard bitten",N
9,2016.0,Unprovoked,USA,Surfing,Minor injury to leg,N
Teen,2010.0,Unprovoked,USA,Surfing,Puncture wounds to foot when he stepped on a s...,N
teen,2014.0,Unprovoked,USA,Surfing,Minor puncture wounds to lower left leg,N
young,1779.0,Unprovoked,USA,Surfing,"FATAL, buttock lacerated",Y

In [22]:
df = df[["Age","Fatal (Y/N)"]]
df.head()

   Age Fatal (Y/N)
2   48           N
21  60           N
28  41           N
29  37           N
34  19           N

**Regex : Sustituir valores de edades conflictivos**

In [23]:
#Teen,teen,young
df.Age = df.Age.str.replace(r"\w{4,}", "Teenager")

In [24]:
#Espacio
for x in df.Age:
    df.Age = df.Age.str.replace(r"\s", x[0][1:])
df.Age.value_counts()

17          55
18          42
16          41
15          41
19          35
20          35
21          35
22          30
24          27
25          26
28          23
14          22
29          19
26          19
27          19
23          17
35          16
31          15
13          14
37          14
32          13
40          13
43          12
30          11
12          11
42          10
34          10
41           9
52           9
36           7
54           7
Teenager     7
38           6
44           6
47           5
48           5
45           5
50           5
51           5
49           4
39           4
46           4
33           4
10           3
9            3
60           2
30s          2
58           2
55           2
61           2
11           2
57           1
33or37       1
50s          1
63           1
6            1
68           1
59           1
53           1
65           1
30or36       1
Name: Age, dtype: int64

In [25]:
# 30s, 50s ...
for x in df.Age:
    df.Age = df.Age.str.replace(r"\d{2}s", x[0][:2])

In [29]:
# age "or" age
for x in df.Age:
    df.Age = df.Age.str.replace(r"(\d{2}\s) or (\d{2})", x[0][:2])
df.Age.value_counts()

17          55
18          42
15          41
16          41
21          35
19          35
20          35
22          30
24          27
25          26
28          23
14          22
29          19
27          19
26          19
23          17
35          16
31          15
13          14
37          14
32          13
40          13
43          12
12          11
30          11
34          10
42          10
52           9
41           9
36           7
54           7
Teenager     7
38           6
44           6
50           5
45           5
47           5
51           5
48           5
33           4
39           4
49           4
46           4
4            3
9            3
10           3
11           2
60           2
58           2
61           2
55           2
53           1
57           1
33or37       1
63           1
68           1
59           1
65           1
30or36       1
6            1
Name: Age, dtype: int64

In [30]:
#Groups:Children (:12), teenager(13-19), young adult (20-39), adult (40,64), elderly (65:)
def groupage(x):
    for i in x:
        try:
            if i < 13:
                return "Children"
            elif 13 >= i < 20: 
                return "Teenager"
            elif 20 >= i < 40: 
                return "Young adult"
            elif 40 >= i < 65:  
                return "Adult"
            elif i >=65:
                return "Elderly"
        except:
            pass

In [32]:
df["Age"]=groupage(df["Age"])
df["Age"].value_counts()

Series([], Name: Age, dtype: int64)

In [33]:
df.Age.value_counts()

Series([], Name: Age, dtype: int64)

**Resultado final**

In [ ]:
df.groupby(["Age"])
children=df.groupby(["Age"]).get_group("Children")
teenager=df.groupby(["Age"]).get_group("Teenager")
young_adult=df.groupby(["Age"]).get_group("Young adult")
adult=df.groupby(["Age"]).get_group("Adult")
elderly=df.groupby(["Age"]).get_group("Elderly")